.Title {
    font-family: 'Prompt', sans-serif;
    color: deepskyblue;
}

.Title-Master {
    margin-bottom: 0px;
}

.Board{
    margin-bottom: 20px;
    width: 450px;
    border: 1px solid black;
    
}

.flex{
    display: flex;
    justify-content: center;
}


.pink{
    background-color: pink;
}

.TicTacToe {
    width: 450px;
    display: block;

}