.Square{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    cursor: pointer;
    line-height: 50px;
}

.Square-Disabled{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    line-height: 50px;
}

.green {
    background-color: darkseagreen;
}

.Square:hover{
    background-color: gainsboro;
}